<tr>
  <td class="topic">
    <span class="timestamp">
      Updated <%= topic.messages.empty? ? topic.created_at : time_ago_in_words(topic.messages.first.created_at) %> ago.
    </span><br />
    <%= link_to topic.title, topic %>
  </td>
</tr>
