<tr>
  <td class="topic">
    <span class="timestamp">
      <%= link_to 'Last message', topic_path(topic, :page => topic.messages.total_pages.nonzero?) %> <%= time_ago_in_words(topic.messages.empty? ? topic.created_at : topic.messages.first.created_at) %> ago.
    </span><br />
    <%= link_to topic.title, topic %>
  </td>
</tr>
