<header>
  <ul class="usermenu">
    <%= render 'shared/user_navigation' %>
  </ul>

  <nav class="round">
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Back", :back %></li>
      <li><%= link_to('Add topic', new_topic_path)  %></li>
    </ul>
  </nav>
</header>
